<div class="home">
  <div class="container-lg" id="container">
    <div class="imgContainer" style="background-image: url('./assets/images/bild5.jpg');">
      <div class="text-header1">Entscheidungen treffen - eine Safari mit Herz, Bauch und Verstand.</div>
      <div class="text-header2">Hallo, mein Name ist Svenja. Ich bin Psychologin und ich helfe dir als Expertin dabei,
        Entscheidungen zu treffen.
      </div>
      <button class="btn-appointment">KOSTENLOSES KENNENLERNGESRÄCH VEREINBAREN</button>
      <mat-divider></mat-divider>
    </div>
    </div>
  </div>
