<div class="home">
  <div class="imgContainer" style="background-image: url('./assets/images/rsz_1backgrkomp.jpg');">
    <div class="wrapper" style="padding-top: 110px;">
      <h1 class="text-header-one"> {{'HOME.HEADER' | translate}} </h1>
      <br>
      <h2 class="text-header-h2"> {{'HOME.TEXT_1' | translate}}</h2>
      <br>
      <div class="text-header-two"> {{'HOME.TEXT_2' | translate}}</div>
    </div>
    <div class="button-one">
      <span>
          <button class="btn-appointment" (click)="openCalendly()">{{'HOME.BUTTON_CALENDLY' | translate}}</button>
        </span>
    </div>
  </div>
  <div class="content">
    <div class="content-wrapper">
      <div class="text-wrap">
        <div class="text">
          <ul class="list">
            <li>
              <div class="list-item">
                <i class='fas fa-binoculars fa-lg' id="icon-one"
                   style="color: #85ad6e; font-size: 35px; margin-right: 25px; display: flex;"> </i>
                <div class="list-text-one">
                  {{'HOME.TEXT_4' | translate}}
                </div>
              </div>
            </li>
            <li>
              <div class="list-item-two">
                <i class='fas fa-binoculars fa-lg' id="icon-two"
                   style="color: #85ad6e; font-size: 35px; margin-right: 25px; display: flex;"> </i>
                <div class="list-item-two-text">
                  {{'HOME.TEXT_5' | translate}}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-wrap-two">
        <div>
          <ul class="text-wrap-list-two">
            <li>
              <div class="text-wrap-two-wrap">
                <i class='fas fa-binoculars fa-lg' id="icon-three"
                   style="color: #85ad6e; font-size: 35px; margin-right: 25px; display: flex;"> </i>
                <div class="text-wrap-three-item-text">
                  {{'HOME.TEXT_6' | translate}}
                </div>
              </div>
            </li>
            <li>
              <div class="text-wrap-two-wrap">
                <i class='fas fa-binoculars fa-lg' id="icon-four"
                   style="color: #85ad6e; font-size: 35px; margin-right: 25px; display: flex;"> </i>
                <div class="text-wrap-three-item-text">
                  {{'HOME.TEXT_7' | translate}}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-three">
      {{'HOME.TEXT_8' | translate}}
    </div>
    <div class="button-four">
      <span>
          <button class="btn-appointment" (click)="openCalendly()">{{'HOME.BUTTON_CALENDLY' | translate}}</button>
        </span>
    </div>

  </div>
  <div class="content-two">
    <div class="content-two-wrapper">
      <div class="content-two-wrapper-text">
        <div style="display: flex">
          <div class="content-two-text">
            <div class="cont-two-list-wrap">
              <i class='fas fa-crosshairs' id="cont-two-icon-one" style="margin-bottom: 20px; justify-content: center; width: 100%;
              color: #85ad6e; font-size: 35px; margin-right: 25px;
                display: flex;"> </i>
              <div class="cont-two-text">
                {{'HOME.TEXT_9' | translate}}
              </div>
            </div>

            <div class="cont-two-list-wrap-two">
              <i class='far fa-heart' id="cont-two-icon-two" style="margin-bottom: 20px; justify-content: center; width: 100%; color: #85ad6e;
              font-size: 35px; margin-right: 25px;
                display: flex;"> </i>
              <div class="cont-two-list-text">
                {{'HOME.TEXT_10' | translate}}
              </div>
            </div>

            <div class="cont-two-list-wrap-three">
              <i class='far fa-lightbulb' id="cont-two-icon-three" style="margin-bottom: 20px; justify-content: center;
              width: 100%; color: #85ad6e; font-size: 35px; margin-right: 25px;display: flex;">
              </i>
              <div class="cont-two-list-wrap-three-text">
                {{'HOME.TEXT_11' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-three">
    <div class="cont-three-text-element">
      <div class="content-three-text-wrap">
        <div class="cont-three-text">
          <div style="margin-top: 0; margin-bottom: 30px; font-size: 24px">
            {{'HOME.TEXT_12' | translate}}
          </div>
          <div
            style="border: rgba(133, 173, 110, 1); border-width: 1px; border-style: solid; border-radius: 5px;background: white;">
            <p style="margin-bottom: 0">Christina:</p>
            <p style="padding: 10px;">{{'HOME.TEXT_13' | translate}}</p>
          </div>
          <div
            style="border: rgba(133, 173, 110, 1); border-width: 1px; border-style: solid; border-radius: 5px;background: white; margin-top: 25px">
            <p style="margin-bottom: 0">Sebastian:</p>
            <p style="padding: 10px;">{{'HOME.TEXT_13A' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-four">
    <div class="content-four-wrapper">
      <div class="cont-four-text-wrap">
        <div style="display: flex">
          <ul class="cont-four-ul">
            <div class="img-container-two">
              <img class="cont-three-image" src="./assets/images/bild1komp.jpg">
            </div>
          </ul>
        </div>
      </div>
      <div class="cont-four-text-wrap-two">
        <div style="height: 100%;">
          <ul class="cont-four-text-wrap-two-ul">
            <li>
              <div class="cont-four-text-wrap-two-li-wrap">
                <i class='fas fa-check' id="cont-two-icon-four"
                   style="color: #85ad6e; font-size: 30px; margin-right: 25px; display: flex;">
                </i>
                <div class="cont-four-text-wrap-two-li-text">
                  {{'HOME.TEXT_19' | translate}}
                </div>
              </div>
            </li>
            <li>
              <div class="cont-four-text-wrap-two-li-wrap-two">
                <i class='fas fa-check' id="cont-two-icon-five"
                   style="color: #85ad6e; font-size: 30px; margin-right: 25px; display: flex;"> </i>
                <div class="cont-four-text-wrap-two-li-text-two">
                  {{'HOME.TEXT_20' | translate}}
                </div>
              </div>
            </li>
            <li>
              <div class="cont-four-text-wrap-two-li-wrap-three">
                <i class='fas fa-check' id="cont-two-icon-six"
                   style="color: #85ad6e; font-size: 30px; margin-right: 25px; display: flex;"> </i>
                <div class="cont-four-text-wrap-two-li-text-three">
                  {{'HOME.TEXT_21' | translate}}
                </div>
              </div>
            </li>
            <li>
              <div class="cont-four-text-wrap-two-li-wrap-four">
                <i class='fas fa-check' id="cont-two-icon-seven"
                   style="color: #85ad6e; font-size: 30px; margin-right: 25px; display: flex;"> </i>
                <div class="cont-four-text-wrap-two-li-text-four">
                  {{'HOME.TEXT_22' | translate}}
                </div>
              </div>
            </li>
            <li>
              <div class="cont-four-text-wrap-two-li-wrap-five">
                <i class='fas fa-check' id="cont-two-icon-eight"
                   style="color: #85ad6e; font-size: 30px; margin-right: 25px; display: flex;"> </i>
                <div class="cont-four-text-wrap-two-li-text-five">
                  {{'HOME.TEXT_23' | translate}}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="appointment">
    <div class="appointment-wrapper">
      {{'HOME.TEXT_24' | translate}}
      <div class="appointment-button">
        <span>
          <button class="btn-appointment" (click)="redirectToSafari()">{{'ABOUT.MORE' | translate}}</button>
        </span>
      </div>
      <div class="appointment-button">
        <span>
          <button class="btn-appointment" (click)="openCalendly()">{{'HOME.BUTTON_CALENDLY' | translate}}</button>
        </span>
      </div>

    </div>
  </div>
  <div class="footer">

    <div id="footer-div" style="display: flex; justify-content: center;text-align: start;">

      <div id="footer" style="margin-right: 200px; align-self: center;">
        <div style="line-height: 20px !important;">
          Svenja Bauer
        </div>
        <div style="line-height: 20px !important;">
          <a href= "mailto:info@entscheidungssafari.de">info@entscheidungssafari.de</a>
        </div>
      </div>

      <div id="img-footer" style="margin-right: 200px;">

        <a target="_blank" href="http://www.bdp-verband.de/html/service/siegel.html">
          <img src="./assets/images/bdp_guetezeichen_193.png" width="100px" height="100px" alt="BDP- Gütezeichen"
               title="BDP-Gütezeichen" style="border-radius: 20px;">
        </a>
      </div>

      <div style="display: block; align-self: center;">

        <div (click)="openSecurityInfo()" style="cursor: pointer; line-height: 20px !important;">Datenschutz</div>
        <div (click)="openImpressum()" style="cursor: pointer; line-height: 20px !important;">Impressum</div>
      </div>


    </div>

    <mat-divider style="margin-top: 25px; margin-bottom: 25px"></mat-divider>
    <div class="footer-text">
      {{'ABOUT.FOOTER' | translate}}
    </div>
  </div>

</div>
