<div class="home">
  <div class="imgContainer" style="background-image: url('./assets/images/backgr.jpg');">

    <div id="gh" style="padding-top: 110px;">
      <h2 class="text-header1">Entscheidungen treffen - eine Safari mit Herz, Bauch und Verstand.</h2>
      <div class="text-header2">
        <p>Hallo, mein Name ist Svenja. Ich bin Psychologin und ich helfe dir als Expertin
          dabei, Entscheidungen zu treffen.
          <br>
          <br>
          Momentan arbeite ich an den Inhalten dieser Website. DIe Entscheidungssafari
          beginnt im März 2021. Dann wird es auch möglich sein kostenlose Kennenlerngespräche zu
          vereinbaren.
          <br>
          <br>
          Bis dahin halte ich dich auf meinem Instagram-Account auf dem Laufenden.
        </p>

      </div>
    </div>

    <div style="text-align: center; padding-left: 10px; padding-right: 10px; padding-top: 25px;">
      <span style="">
    <button class="btn-appointment" (click)="redirectToContact()">KOSTENLOSES KENNENLERNGESRÄCH VEREINBAREN (BUCHUNG AB MÄRZ 2021 MÖGLICH)</button>
    </span>
    </div>
  </div>
  <div class="content" id="content">
    <div style="display: flex; flex-wrap: wrap; display: -webkit-box;">
      <div id="cc" style="width: 50%; flex: 0 0 auto; height: auto; min-height: unset;">
        <div style="display: flex">
          <ul style="list-style-type: none; line-height: initial; margin: 0; display: inline-block;
            max-width: 100%; overflow: hidden; padding-right: 40px;">
            <li>
              <div style="display: flex;">
                <i class='fas fa-binoculars fa-lg' id="sp"
                   style="color: #85ad6e; font-size: 35px; margin-right: 25px; display: flex;"> </i>
                <div style="font-size: 16px; color: #6b725b; margin-bottom: 10px">
                  Willst du endlich Ordnung in deine Gedanken bringen, die immer
                  wieder um die selbe
                  Entscheidung kreisen,
                  aber nie zum Ziel führen?
                </div>
              </div>
            </li>
            <li>
              <div style="display: flex;">
                <i class='fas fa-binoculars fa-lg' id="sp"
                   style="color: #85ad6e; font-size: 35px; margin-right: 25px; display: flex;"> </i>
                <div style="font-size: 16px; color: #6b725b; margin-bottom: 10px">
                  Wünschst du dir Unterstützung von jemandem, der Ahnung von
                  Entscheidungen hat und
                  sich Zeit für dich und
                  deine individuelle Situation nimmt?
                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>
      <div id="cc2" style="width: 50%; flex: 0 0 auto; height: auto; min-height: unset;">
        <div>
          <ul style="list-style-type: none; line-height: initial; margin: 0; display: inline-block;
            max-width: 100%; overflow: hidden;padding-right: 40px;">
            <li>
              <div style="display: flex;">
                <i class='fas fa-binoculars fa-lg' id="sp"
                   style="color: #85ad6e; font-size: 35px; margin-right: 25px; display: flex;"> </i>
                <div style="font-size: 16px; color: #6b725b; margin-bottom: 10px">Fühlst du dich unfähig, eine
                  Entscheidung zu treffen, ohne sie
                  hinterher zu bereuen
                  und wieder über den
                  Haufen zu werfen?
                </div>
              </div>
            </li>
            <li>
              <div style="display: flex;">
                <i class='fas fa-binoculars fa-lg' id="sp"
                   style="color: #85ad6e; font-size: 35px; margin-right: 25px; display: flex;"> </i>
                <div style="font-size: 16px; color: #6b725b; margin-bottom: 10px">Hast du keine Lust mehr darauf, dich
                  von deiner Unentschlossenheit
                  und deinen
                  Zweifeln ausbremsen zu
                  lassen?
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      style="padding-top: 40px; font-size: 24px; color: rgb(82, 106, 68); text-align: center; padding-left: 15px; padding-right: 15px;">
      Deine Entscheidungssafari beginnt hier.
      Entdecke in der psychologischen Online-Beratung, wie Du selbstbewusst Entscheidungen treffen kannst,
      indem du dein Herz, deinen Bauch und deinen Verstand mit einbeziehst.
    </div>
    <div style="text-align: center; padding-left: 10px; padding-right: 10px; padding-top: 25px;">
      <span style="">
    <button class="btn-appointment" (click)="redirectToContact()">KOSTENLOSES KENNENLERNGESRÄCH VEREINBAREN (BUCHUNG AB MÄRZ 2021 MÖGLICH)</button>
    </span>
    </div>
  </div>
  <div class="content2" id="content2">
    <div style="display: flex; flex-wrap: wrap; display: -webkit-box;">
      <div id="cc3" style="width: 100%; flex: 0 0 auto; height: auto; min-height: unset;">

        <div style="display: flex">
          <div id="gg" style="list-style-type: none; line-height: initial; margin: 0; display: flex;
            max-width: 100%; overflow: hidden; padding-right: 40px;">
            <div id="li1"
                 style="display: block; margin-right: 20px; width: 33.3%; padding-left: 40px; margin-bottom: 20px;">
              <i class='fas fa-crosshairs' id="sp1" style="margin-bottom: 20px; justify-content: center; width: 100%; color: #85ad6e; font-size: 35px; margin-right: 25px;
                display: flex;"> </i>
              <div style="font-size: 16px; color: #6b725b; margin-bottom: 10px">
                Willst du endlich Ordnung in deine Gedanken bringen, die immer
                wieder um die selbe
                Entscheidung kreisen,
                aber nie zum Ziel führen?
              </div>
            </div>

            <div id="li2"
                 style="display: block; margin-right: 20px; width: 33.3%; padding-left: 40px; margin-bottom: 20px;">
              <i class='far fa-heart' id="sp2" style="margin-bottom: 20px; justify-content: center; width: 100%; color: #85ad6e; font-size: 35px; margin-right: 25px;
                display: flex;"> </i>
              <div style="font-size: 16px; color: #6b725b; margin-bottom: 10px">
                Wünschst du dir Unterstützung von jemandem, der Ahnung von
                Entscheidungen hat und
                sich Zeit für dich und
                deine individuelle Situation nimmt?
              </div>
            </div>

            <div id="li3"
                 style="display: block; margin-right: 20px; width: 33.3%; padding-left: 40px; margin-bottom: 20px;">
              <i class='far fa-lightbulb' id="sp3" style="margin-bottom: 20px; justify-content: center; width: 100%; color: #85ad6e; font-size: 35px; margin-right: 25px;
                display: flex;"> </i>
              <div style="font-size: 16px; color: #6b725b; margin-bottom: 10px">
                Wünschst du dir Unterstützung von jemandem, der Ahnung von
                Entscheidungen hat und
                sich Zeit für dich und
                deine individuelle Situation nimmt?
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


    <div id="contTwo" style="display: flex">
      <div class="imgContainer2">
        <img id="h-section-boxed-container" src="./assets/images/bild1.jpg"
             style="width: 85%; box-shadow: 0px 0px 10px 2px rgb(0 0 0);">

      </div>
      <div id="text-elem" style="background: rgba(133, 173, 110, 0.31); padding-right: 175px; padding-left: 15px;">
        <div style="display: block; margin-top: 15px; margin-bottom: 15px; background: rgba(133, 173, 110, 0.65); height: 95%; padding: 10px;
            justify-content: center;">
          <p style="font-weight: 400; font-size: 16px; letter-spacing: 0px; color: #FFFFFF; padding-right: 15px; padding-left: 15px;">
            „Meine Vision ist es, mit dir gemeinsam auf deine ganz persönliche Entscheidungssafari zu
            gehen.</p>
          <p style="font-weight: 400; font-size: 16px; letter-spacing: 0px; color: #FFFFFF; padding-right: 15px; padding-left: 15px;">
            Dabei wirst du (wieder) entdecken, was alles in dir steckt. Und du wirst dich dazu befähigen,
            Entscheidungen zu treffen, die dich langfristig zufrieden und glücklich machen.“</p>
        </div>
      </div>
    </div>

<div style="height: 150px;
    background: white;"></div>

</div>
