@media (max-width: 767px){
  #footer {
    margin-right: 10px !important;
    margin-bottom: 15px !important;
  }
  #footer-div{
    display: block !important;
    text-align: center !important;
  }
  .content {
    padding-top: 70px !important;
    padding-bottom: 15px !important;
  }
  .content-two {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .content-four {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .content-three {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .appointment{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}

@media (max-width: 767px){
  .cont-three-text-element{
    padding-right: 15px !important;
  }
  .cont-three-image{
    width: 100% !important;
  }
  .content-three{
    display: contents !important;
  }
  .content-two-text{
    display: inline-block !important;
  }
  .cont-four-text-wrap {
    width: 100% !important;
  }
  .text-wrap {
    width: 100% !important;
  }
  .cont-four-text-wrap-two {
    width: 100% !important;
  }
  .cont-four-text-wrap-two-ul {
    margin-top: 15px !important;
  }
  .text-wrap-two {
    width: 100% !important;
  }
  .content-two-wrapper-text{
    width: 100% !important;
  }
  .cont-two-list-wrap{
    width: 100% !important;
  }
  .cont-two-list-wrap-two{
    width: 100% !important;
  }
  .cont-two-list-wrap-three{
    width: 100% !important;
  }
  .wrapper{
    padding-top: 0 !important;
  }
}


.home{
  color: white;

  .imgContainer{
    height: auto;
    min-height: unset;
    color: #FFFFFF;
    background-color: rgba(133, 173, 110, 0.35);
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 120px;

    .wrapper{
      padding-top: 110px;

      .text-header-one{
        font-weight: 600;
        text-align: center;
        font-size: 40px;
      }

      .text-header-h2{
        font-size: 25px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
      }
      .text-header-two{
        font-size: 20px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .button-one{
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 50px;
    }

    .btn-appointment{
      box-shadow: 0 0 10px 2px rgb(87 128 89);
      background-color: rgb(133, 173, 110);
      background-image: none;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 1em;
      letter-spacing: 1px;
      color: white;
      border-top-width: 2px;
      border-top-color: #FFFFFF;
      border-top-style: solid;
      border-right-width: 2px;
      border-right-color: #FFFFFF;
      border-right-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: #FFFFFF;
      border-bottom-style: solid;
      border-radius: 56px;
      border-left-width: 2px;
      border-left-color: #FFFFFF;
      border-left-style: solid;
      padding: 15px 30px;
      text-align: center;
    }
  }

  .content{
    height: auto;
    min-height: unset;
    background-color: rgba(133, 173, 110, 0.35);
    background-image: none;
    padding-top: 90px;
    padding-bottom: 90px;

    .content-wrapper{
      display: flex;
      flex-wrap: wrap;
      display: -webkit-box;

      .text-wrap{
        width: 50%;
        flex: 0 0 auto;
        height: auto;
        min-height: unset;

        .text{
          display: flex;

          .list{
            list-style-type: none;
            line-height: initial;
            margin: 0;
            display: inline-block;
            max-width: 100%;
            overflow: hidden;
            padding-right: 40px;

            .list-item{
              display: flex;

              .list-text-one{
                font-size: 16px;
                color: #6b725b;
                margin-bottom: 10px;
              }
            }

            .list-item-two{
              display: flex;

              .list-item-two-text{
                font-size: 16px;
                color: #6b725b;
                margin-bottom: 10px;
              }
            }
          }
        }
      }

      .text-wrap-two{
        width: 50%;
        flex: 0 0 auto;
        height: auto;
        min-height: unset;

        .text-wrap-list-two{
          list-style-type: none;
          line-height: initial;
          margin: 0;
          display: inline-block;
          max-width: 100%;
          overflow: hidden;
          padding-right: 40px;

          .text-wrap-two-wrap{
            display: flex;

            .text-wrap-three-item-text{
              font-size: 16px;
              color: #6b725b;
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    .text-three{
      padding-top: 40px;
      font-size: 24px;
      color: rgb(82, 106, 68);
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
    }

    .button-four{
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 50px;
    }

    .btn-appointment{
      box-shadow: 0 0 10px 2px rgb(87 128 89);
      background-color: rgb(133, 173, 110);
      background-image: none;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 1em;
      letter-spacing: 1px;
      color: white;
      border-top-width: 2px;
      border-top-color: #FFFFFF;
      border-top-style: solid;
      border-right-width: 2px;
      border-right-color: #FFFFFF;
      border-right-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: #FFFFFF;
      border-bottom-style: solid;
      border-radius: 56px;
      border-left-width: 2px;
      border-left-color: #FFFFFF;
      border-left-style: solid;
      padding: 15px 30px;
      text-align: center;
    }
  }

  .content-two{
    height: auto;
    min-height: unset;
    background-color: white;
    background-image: none;
    padding-top: 65px;
    padding-bottom: 65px;

    .content-two-wrapper{
      display: flex;
      flex-wrap: wrap;
      display: -webkit-box;

      .content-two-wrapper-text{
        width: 100%;
        flex: 0 0 auto;
        height: auto;
        min-height: unset;

        .content-two-text{
          list-style-type: none;
          line-height: initial;
          margin: 0;
          display: flex;
          max-width: 100%;
          overflow: hidden;
          padding-right: 40px;

          .cont-two-list-wrap{
            display: block;
            margin-right: 20px;
            width: 33.3%;
            padding-left: 40px;
            margin-bottom: 20px;

            .cont-two-text{
              font-size: 16px;
              color: #6b725b;
              margin-bottom: 10px;
              text-align: center;
            }
          }

          .cont-two-list-wrap-two{
            display: block;
            margin-right: 20px;
            width: 33.3%;
            padding-left: 40px;
            margin-bottom: 20px;

            .cont-two-list-text{
              font-size: 16px;
              color: #6b725b;
              margin-bottom: 10px;
              text-align: center;
            }
          }

          .cont-two-list-wrap-three{
            display: block;
            margin-right: 20px;
            width: 33.3%;
            padding-left: 40px;
            margin-bottom: 20px;

            .cont-two-list-wrap-three-text{
              font-size: 16px;
              color: #6b725b;
              margin-bottom: 10px;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .content-three{
    display: flex;
    padding: 15px;
    background-color: rgba(133, 173, 110, 0.35);
    color: #526a44;

    .cont-three-text-element{
      padding-right: 15px;
      padding-left: 15px;

      .content-three-text-wrap{
        display: block;
        height: 100%;
        padding: 10px;
        text-align: center;
        // background: rgba(133, 173, 110, 0.65);

        .cont-three-text{
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 0;
          // color: #FFFFFF;
          font-family: 'Architects Daughter', cursive;
          padding-top: 15px;
          padding-bottom: 15px
        }
      }
    }
  }

  .content-four{
    height: auto;
    min-height: unset;
    background-color: white;
    background-image: none;
    padding-top: 65px;
    padding-bottom: 65px;

    .content-four-wrapper{
      display: flex;
      flex-wrap: wrap;
      display: -webkit-box;

      .cont-four-text-wrap{
        width: 50%;
        flex: 0 0 auto;
        height: auto;
        min-height: unset;
        display: grid;
        justify-content: space-around;
        align-items: center;

        .cont-four-ul{
          list-style-type: none;
          line-height: initial;
          margin: 0;
          display: inline-block;
          max-width: 100%;
          overflow: hidden;
          padding-right: 40px;

          .ul-li-item{
            display: block;
            text-align: center;

            .li-item-text{
              font-size: 28px;
              color: #85ad6e;
              margin-bottom: 20px;
              align-self: center;
              font-weight: bold;
              line-height: 40px;
            }

            .li-item-text-two{
              font-size: 16px;
              color: #6b725b;
              margin-bottom: 20px;
              text-align: center;
              line-height: 25px;
            }
          }

          .img-container-two {
            justify-content: flex-end;
            display: flex;
            height: auto;
            min-height: unset;
            color: #FFFFFF;
            background-position: center center;
            background-size: cover;
            background-attachment: scroll;
            background-repeat: no-repeat;

            .cont-three-image{
              width: 85%;
              box-shadow: 0px 0px 10px 2px #85ad6e;
              height: 100%;
            }
          }
        }


      }

      .cont-four-text-wrap-two{
        width: 50%; flex: 0 0 auto;
        height: auto;
        min-height: unset;

        .cont-four-text-wrap-two-ul{
          list-style-type: none;
          line-height: initial;
          margin: 0;
          max-width: 100%;
          overflow: hidden;
          padding-right: 40px;
          height: 100%;
          display: grid;
          justify-content: space-around;
          align-items: center;

          .cont-four-text-wrap-two-li-wrap{
            display: flex;
            padding-bottom: 15px;
            height: 20%;

            .cont-four-text-wrap-two-li-text{
              font-size: 16px;
              color: #6b725b;
              margin-bottom: 10px;
              line-height: 25px;
            }
          }

          .cont-four-text-wrap-two-li-wrap-two{
            display: flex;
            padding-bottom: 15px;

            .cont-four-text-wrap-two-li-text-two{
              font-size: 16px;
              color: #6b725b;
              margin-bottom: 10px;
              line-height: 25px;
            }
          }

          .cont-four-text-wrap-two-li-wrap-three{
            display: flex;
            padding-bottom: 15px;

            .cont-four-text-wrap-two-li-text-three{
              font-size: 16px;
              color: #6b725b;
              margin-bottom: 10px;
              line-height: 25px;
            }
          }

          .cont-four-text-wrap-two-li-wrap-four{
            display: flex;
            padding-bottom: 15px;

            .cont-four-text-wrap-two-li-text-four{
              font-size: 16px;
              color: #6b725b;
              margin-bottom: 10px;
              line-height: 25px;
            }
          }

          .cont-four-text-wrap-two-li-wrap-five{
            display: flex;
            padding-bottom: 15px;

            .cont-four-text-wrap-two-li-text-five{
              font-size: 16px;
              color: #6b725b;
              margin-bottom: 10px;
              line-height: 25px;
            }
          }
        }
      }
    }
  }

  .appointment{
    padding-top: 90px;
    padding-bottom: 90px;

    .appointment-wrapper{
      font-size: 28px;
      text-align: center;
      color: #6b725b;
      padding-left: 50px;
      padding-right: 50px;

      .appointment-button{
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
      }

      .btn-appointment{
        box-shadow: 0 0 10px 2px rgb(87 128 89);
        background-color: rgb(133, 173, 110);
        background-image: none;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1em;
        letter-spacing: 1px;
        color: white;
        border-top-width: 2px;
        border-top-color: #FFFFFF;
        border-top-style: solid;
        border-right-width: 2px;
        border-right-color: #FFFFFF;
        border-right-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #FFFFFF;
        border-bottom-style: solid;
        border-radius: 56px;
        border-left-width: 2px;
        border-left-color: #FFFFFF;
        border-left-style: solid;
        padding: 15px 30px;
        text-align: center;
      }
    }
  }
  .footer{
    height: auto;
    margin-top: 30px;
    min-height: unset;
    background-image: none;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(133, 173, 110, 0.66);
    text-align: center;
    color: #6b725b;
    font-size: 14px;

    .footer-text{
      padding-left: 15px;
      padding-right: 15px;
      line-height: 20px !important;
    }
  }
}

