<div class="safari">
  <div class="imgContainer" style="background-image: url('./assets/images/headersafari.jpg');">
  </div>
  <div class="outer-container">
    <div class="content">
      <div class="wrapper">
        <div class="wrapper-one">
          <div class="first-part">
            <div class="text">
              <div style="font-size: 21px;">
                Du willst eine gute Entscheidung treffen. Die Entscheidungssafari steht für deinen Weg zu dieser Entscheidung.
                <br>
                <br>
                Als Psychologin helfe ich Menschen wie dir, schwierige Entscheidungen selbstbewusst und selbstsicher zu treffen.
              </div>
              <div>
                <br>
                Stehst du vor einer besonderen Entscheidung und bist dir unsicher?
                Würdest du dich in einem Moment so, und im nächsten Moment wieder ganz anders entscheiden?
                Vielleicht sind alle Optionen nicht wirklich wünschenswert. Oder alle deine verschiedenen Optionen sind toll.
                Wie sollst du dich da für eine und damit gegen andere Optionen entscheiden? Oder hast dieses Gefühl,
                dass eine Veränderung her muss, bist aber noch total planlos?
                <br>
                <br>
                Die Entscheidungssafari bezieht alles mit ein, was wichtig ist:
                Deinen Kopf mit all den Gedanken, die um das Problem und um mögliche Lösungen kreisen.
                Dein Herz, das gleichzeitig die verschiedensten, auch widersprüchlichen Emotionen empfindet.
                Und dein Bauchgefühl, das dir etwas Wichtiges mitteilen will. Du trägst bereits alles in dir,
                was nötig ist, um eine Entscheidung zu treffen.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-one">
      <div class="content-one-wrapper">
        <div class="content-one-text-element-one">
          <div class="content-one-text-one">
            <div>
              <div class="content-one-img-container">
                <img class="content-one-image" src="./assets/images/elef.jpg" alt="">
              </div>
            </div>
            <div class="content-one-second-text">
              <div>
                Mir persönlich ist total wichtig, dass du dich in der Beratung verstanden und wertgeschätzt fühlst.
                Ich möchte erreichen, dass bei dir im Verlauf unserer Zusammenarbeit Freude und Begeisterung für dein
                Ziel und den Weg dorthin entstehen. Dass sich dir neue Perspektiven und Möglichkeiten eröffnen.
                Dass du eine neue Selbstwirksamkeit und ein neues Selbstbewusstsein erlebst.
                Und dass du dir, deinen eigenen Fähigkeiten und deinem eigenen Urteil wieder mehr vertraust.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-two">
      <div style="margin-right: 50px; margin-left: 50px; height: 60px; font-size: 25px;text-align: center;color: #85ad6e">
        Ablauf
      </div>
      <div class="content-two-wrapper">
        <div class="content-two-text-wrap">

          <div class="content-two-text">

            <ul class="content-two-list">
              <li>
                <div class="content-two-list-item">
                  <i class='fas fa-binoculars fa-lg' id="icon-one"
                     style="color: #85ad6e; font-size: 35px; margin-right: 25px; display: flex;"> </i>
                  <div class="content-two-list-text-one">
                    Über das Kontaktformular kannst du dich für das <span style="font-weight: bold;">kostenlose Vorgespräch</span> anmelden.
                    Ich melde mich innerhalb von 48h (Montag bis Freitag, außer an Feiertagen) bei dir.
                  </div>
                </div>
              </li>
              <li>
                <div class="content-two-list-item-two">
                  <i class='fas fa-binoculars fa-lg' id="icon-two"
                     style="color: #85ad6e; font-size: 35px; margin-right: 25px; display: flex;"> </i>
                  <div class="content-two-list-item-two-text">
                    Im Vorgespräch (ca. 15 Minuten) stelle ich dir einige Fragen zu deiner Entscheidungssituation
                    und wir können uns einen ersten Eindruck voneinander verschaffen.
                    Außerdem haben wir beide die Möglichkeit zu prüfen, ob die Entscheidungssafari zu deiner
                    Entscheidungssituation passt. Wenn wir uns für die gemeinsame Entscheidungssafari entscheiden
                    besprechen wir, welches meiner Angebote das richtige für dich ist.
                  </div>
                </div>
              </li>
              <li>
                <div class="content-two-list-item-three">
                  <i class='fas fa-binoculars fa-lg' id="icon-three"
                     style="color: #85ad6e; font-size: 35px; margin-right: 25px; display: flex;"> </i>
                  <div class="content-two-list-item-three-text">
                    Sobald du ein Angebot gebucht hast, kann deine Erfahrungssafari losgehen.
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="content-four">
      <div class="wrapper-four">
        <div class="cont-four-text">
          <div class="cont-four">
            <div class="text-four">
              <div style="height: 60px; font-size: 25px; text-align: center; color: #85ad6e">
                Angebote
              </div>
              <div id="accordion1">
                <div class="card">
                  <div class="card-header" id="accordion1headingOne" style="background-color: rgba(133, 173, 110, 0.9);">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#accordion1collapseOne"
                              aria-expanded="true" aria-controls="accordion1collapseOne" style="color: white; width: 100%">
                        IMPULS SESSION
                      </button>
                    </h5>
                  </div>

                  <div id="accordion1collapseOne" class="collapse show" aria-labelledby="accordion1headingOne" data-parent="#accordion1">
                    <div class="card-body" style="text-align: center;">
                      Bis hier her bist du schon richtig weit gekommen! Eigentlich stehst du kurz vor der Entscheidung.
                      Aber du kannst dich noch nicht ganz zu einer Entscheidung durchringen.
                      Dir fehlt noch etwas – der entscheidende Impuls.

                      <br>
                      Ich gehe mit dir zusammen den letzten Schritt.
                      Gemeinsam entdecken wir, was du noch brauchst, um selbstbewusst deine Entscheidung zu treffen.
                      <br>
                      <br>
                      <ul class="list" style="list-style-type: none;">
                        <li>
                          Eine 1:1 Impuls Session (90 Minuten online)
                        </li>
                        <li>
                          Inklusive kostenlosem Vorgespräch (ca. 15min)
                        </li>
                        <li>
                          Zusätzlicher Kontakt per Whatsapp bei Bedarf
                        </li>
                        <li>
                          Kosten: einmalig 120€ (zahlbar bei Abschluss des Beratungsvertrags)
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="accordion1headingTwo" style="background-color: rgba(133, 173, 110, 0.9);">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#accordion1collapseTwo"
                              aria-expanded="false" aria-controls="accordion1collapseTwo" style="color: white; width: 100%">
                        ENTSCHEIDUNGSSAFARI 4 WOCHEN
                      </button>
                    </h5>
                  </div>
                  <div id="accordion1collapseTwo" class="collapse" aria-labelledby="accordion1headingTwo" data-parent="#accordion1">
                    <div class="card-body" style="text-align: center;">
                      Du stehst vor einer schwierigen Entscheidung und deine Gedanken drehen sich im Kreis.
                      Doch von Zweifeln und Unsicherheit hast du genug.

                      <br>
                      Gemeinsam bringen wir Ordnung und Klarheit in deine Gefühle, deine Gedanken und deine Situation.
                      Wir fokussieren darauf, wer du bist, was dir wichtig ist und was du für dein Leben willst.
                      Und versetzen dich damit in die Lage, selbstsicher und selbstbewusst deine Entscheidung zu treffen.
                      <br>
                      <br>
                      <ul class="list" style="list-style-type: none;">
                        <li>
                          Zeitraum: bis zu 4 Wochen
                        </li>
                        <li>
                          Zwei 1:1 Beratungsgespräche (online)
                        </li>
                        <li>
                          Inklusive kostenlosem Vorgespräch (ca. 15min)
                        </li>
                        <li>
                          Für die gesamten 4 Wochen stehen wir zwischen den Beratungssitzungen per WhatsApp* in Kontakt
                        </li>
                        <li>
                          Du bekommst alle erarbeiteten Materialen per E-Mail zugesendet
                        </li>
                        <li>
                          Bonus: „Erfolge feiern“ – exklusives Abschlussgespräch (kostenlos)
                        </li>
                        <li>
                          Kosten: einmalig 280€ (zahlbar bei Abschluss d. Beratungsvertrags)
                        </li>
                      </ul>
                      <p style="font-size: 10px; color: lightgray">*oder  auf Wunsch per DSGVO-konformer Alternative</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="accordion1headingThree" style="background-color: rgba(133, 173, 110, 0.9);">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#accordion1collapseThree"
                              aria-expanded="false" aria-controls="accordion1collapseThree" style="color: white; width: 100%">
                        ENTSCHEIDUNGSSAFARI 3 MONATE
                      </button>
                    </h5>
                  </div>
                  <div id="accordion1collapseThree" class="collapse" aria-labelledby="accordion1headingThree" data-parent="#accordion1">
                    <div class="card-body" style="text-align: center;">
                      Du bist unzufrieden und hast das Gefühl, dass du etwas in deinem Leben ändern willst.
                      Doch das geht nicht von heute auf morgen. Und vielleicht weißt du noch gar nicht genau,
                      was sich eigentlich ändern soll. Aber du weißt, dass du dir Zeit für dich und deine
                      Entscheidung nehmen willst.

                      <br>
                      Ich begleite dich für 3 Monate auf dieser Reise.
                      Gemeinsam entwickeln wir eine Vision für dich und dein Leben und erarbeiten konkrete Schritte für diesen Weg.
                      <br>
                      <br>
                      <ul class="list" style="list-style-type: none;">
                        <li>
                          Zeitraum: 3 Monate
                        </li>
                        <li>
                          Fünf 1:1 Beratungsgespräche (online)
                        </li>
                        <li>
                          Inklusive kostenlosem Vorgespräch (ca. 15min)
                        </li>
                        <li>
                          Für die gesamten 3 Monate stehen wir zwischen den Beratungssitzungen per WhatsApp* in Kontakt
                        </li>
                        <li>
                          Du bekommst alle erarbeiteten Materialen per E-Mail zugesendet
                        </li>
                        <li>
                          Bonus: „Erfolge feiern“ – exklusives Abschlussgespräch (kostenlos)
                        </li>
                        <li>
                          Kosten: einmalig 670€ oder 2 Raten à 350€ (zahlbar bei Abschluss d. Beratungsvertrags bzw. monatlich)
                        </li>
                      </ul>
                      <p style="font-size: 10px; color: lightgray">*oder  auf Wunsch per DSGVO-konformer Alternative</p>

                    </div>
                  </div>
                </div>
              </div>
              <div style="text-align: center; padding-top: 50px">
                <button class="btn-one" (click)="redirectToContact()">Jetzt kostenloses Vorgespräch vereinbaren</button>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-five">
      <div class="wrapper-five">
        <div class="cont-five-text">
          <div class="cont-five">
            <div class="text-five">
              <div style="height: 60px; font-size: 25px; text-align: center; color: #85ad6e">
                FAQ
              </div>
              <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                              aria-expanded="true" aria-controls="collapseOne" style="color: #85ad6e; width: 100%">
                        Sagst du mir als Psychologin, wie ich mich entscheiden soll oder was die richtige Lösung für mein Problem ist?
                      </button>
                    </h5>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body" style="text-align: center;">
                      Die Entscheidung kann ich dir nicht abnehmen und das ist auch gar nicht das Ziel.
                      Unser Ziel ist es, dass du in unseren 1:1 Sitzungen und in der Zeit dazwischen so
                      viel über dich und deine Situation lernst, dass du am Ende selbst eine Entscheidung
                      treffen kannst. Ich weiß schon jetzt, dass du der Experte für dich, dein Leben und
                      deine Entscheidung bist. Auch wenn dir das momentan nicht unbedingt so vorkommt.
                      Daher ist es meine Aufgabe, dir dabei zu helfen, wieder Ordnung in deine Gedanken und
                      Gefühle zu bringen, sodass du selbstbewusst und selbstbestimmt eine Entscheidung treffen kannst.

                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                              aria-expanded="false" aria-controls="collapseTwo" style="color: #85ad6e; width: 100%">
                        Warum „Entscheidungssafari“?
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body" style="text-align: center;">
                      Ganz einfach – weil ich Safaris liebe! Aber natürlich nicht nur deswegen.
                      Die Safari (vom arabischen Wort „safar“ = Reise) steht für den Weg zu deiner Entscheidung.
                      Safaris sind aufregend und stecken voller Überraschungen. Safaris erweitern den Horizont und
                      eröffnen neue Perspektiven. Jede Safari ist einzigartig, genau wie auch jede Entscheidung
                      einzigartig ist. Zu einer Safari gehören Anspannung und Nervenkitzel, aber auch Geduld und
                      ein gewisses Commitment sind nötig. Und eine Safari lohnt sich immer.

                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                              aria-expanded="false" aria-controls="collapseThree" style="color: #85ad6e; width: 100%">
                        Gibt es Entscheidungen, bei denen du nicht weiterhelfen kannst?
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body" style="text-align: center;">
                      Ja die gibt es. Professionelles Arbeiten zeichnet sich auch dadurch aus,
                      die eigenen Kompetenzen und Grenzen zu kennen. In unserem kostenlosen Vorgespräch
                      prüfen wir beide jeweils, ob mein Beratungsangebot zu deinem Anliegen passt.
                      Wenn ich denke, dass ein anderes Angebot passender wäre, empfehle ich dir natürlich
                      gerne einen entsprechenden Ansprechpartner.

                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                              aria-expanded="false" aria-controls="collapseFour" style="color: #85ad6e; width: 100%">

                        Wann ist die Entscheidungssafari nicht das richtige Angebot für mich?
                      </button>
                    </h5>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body" style="text-align: center;">
                      Die psychologische Online-Beratung kann eine Psychotherapie oder ärztliche Behandlung nicht
                      ersetzen. Auch bei akuten Krisen und Suizidgedanken ist sie nicht geeignet.
                      Bitte wende dich in diesem Fall an einen niedergelassenen Psychotherapeuten oder an
                      deinen Hausarzt. Ebenso können in einer Beratung keine psychischen Störungen behandelt werden.
                      Über die Arztsuche der KVB kannst du Ärzte und Psychotherapeuten in deiner Nähe finden:

                      <a target="_blank" href="https://www.kbv.de/html/arztsuche.php">
                        KBV – Arztsuche in Deutschland – Hier finden Sie die Ärztin oder den Arzt Ihres Vertrauens
                        </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div id="footer-div" style="display: flex; justify-content: center;text-align: start;">
      <div id="footer" style="margin-right: 200px;">
        <div style="line-height: 20px !important;">
          Svenja Bauer
        </div>
        <div style="line-height: 20px !important;">
          <a href= "mailto:info@entscheidungssafari.de">info@entscheidungssafari.de</a>
        </div>
      </div>

      <div style="display: block">

        <div (click)="openSecurityInfo()" style="cursor: pointer; line-height: 20px !important;">Datenschutz</div>
        <div (click)="openImpressum()" style="cursor: pointer; line-height: 20px !important;">Impressum</div>
      </div>


    </div>

    <mat-divider style="margin-top: 25px; margin-bottom: 25px"></mat-divider>
    <div class="footer-text">
      {{'ABOUT.FOOTER' | translate}}
    </div>
  </div>
</div>

