<div class="aboutme">
  <div class="imgContainer" style="background-image: url('./assets/images/headerpic.jpg');">
    <div id="gh" style="padding-top: 20px;">
      <h2 class="text-header1">Über mich</h2>
    </div>
  </div>
  <div class="containerone" style="margin-left: 50px; margin-right: 50px">
    <div class="content" id="content">
      <div style="display: flex; flex-wrap: wrap; display: -webkit-box;">
        <div id="cc" style="width: 100%; flex: 0 0 auto; height: auto; min-height: unset; display: block">
          <div style="display: flex">
            <div style="display: block; margin-right: 50px; margin-left: 50px; margin-bottom: 16px; line-height: 1.6;
                      color: rgb(70, 112, 127);">
              <h4 style="color: rgb(133, 173, 110);">Meine Vision</h4>
              <div>ist es, Menschen dabei zu helfen, leichter Entscheidungen zu treffen. Im Leben stehen wir immer
                wieder vor schwierigen Entscheidungen. Oft haben wir dabei das Gefühl, wir müssten irgendwie alleine in
                der Lage sein, "die richtige" Entscheidung zu treffen. Doch schwierige Entscheidungen können uns lähmen,
                uns sie Lebensfreude nehmen und Selbstzweifel wachsen lassen.
                <br>
                <br>
                Auch ich habe in meinem Leben einige schwere Entscheidungen treffen müssen.
              </div>
              <div style="text-align: center; padding: 25px 10px 45px;">
              <span style="">
                <button class="btn-appointment" (click)="redirectToContact()">ERFAHRE MEHR</button>
              </span>
              </div>

              <div>
                Ich bin überzeugt davon, dass es noch einen anderen Weg gibt, Entscheidungen zu treffen.
                Dieser Weg ist aufregend und spannend, es ist ein Weg, auf dem du Neues über dich lernst,
                der neue Perspektiven eröffnet und der sogar Begeisterung und Neugier auf das Unbekannte,
                auf deine Entscheidung und das, was danach kommt, entstehen lässt.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contenti" id="contenti">
      <div style="display: flex; flex-wrap: wrap; display: -webkit-box;">
        <div id="cc" style="width: 100%; flex: 0 0 auto; height: auto; min-height: unset; display: block">
          <div style="display: flex">
            <div style="display: block; margin-right: 50px; margin-left: 50px; margin-bottom: 16px; line-height: 1.6;
                      color: rgb(70, 112, 127);">
              <h4 style="color: rgb(133, 173, 110);">In meiner Arbeit</h4>
              <div>ist es mir sehr wichtig, Entscheidungen nicht einseitig zu betrachten.
                <br>
                <br>
                Gute Entscheidungen kann man selten rein rational oder rein emotional treffen.
                Neben rationalen Argumenten spielen unsere Gefühle und unsere Intuition (unser Bauchgefühl)
                eine wichtige Rolle. Vernachlässigen wir eine dieser 3 Komponenten, entstehen mit großer
                Wahrscheinlichkeit Zweifel, Unsicherheit, wir fühlen uns nicht in der Lage, eine Entscheidung
                zu treffen und werden handlungsunfähig.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div style="display: block; box-shadow: 0px 0px 10px 2px #85ad6e;
    margin-top: 30px; background: rgba(133, 173, 110, 0.35);">

      <div id="text-elem2" style="; padding-right: 15px;">
        <div id="hhh" style="display: flex; margin-top: 15px; margin-bottom: 15px; height: 95%;">
          <div id="ccc" style="display: block; margin-right: 50px; margin-left: 50px; margin-bottom: 16px; padding-top: 15px;
        line-height: 1.6; color: rgb(70, 112, 127);">
            <h4 style="color: rgb(133, 173, 110);">Ich bin</h4>
            <div>Safari-Fan und Auswanderin, außerdem habe ich Psychologie studiert (M.Sc. Uni Konstanz)
              und mit den unterschiedlichsten Menschen in verschiedenen Kontexten und Kulturen gearbeitet.
              Das Psychologie-Studium und die systemische Weiterbildung sind meine Grundlage für ein
              professionelles Arbeiten. Gleichzeitig habe ich in der Zusammenarbeit mit Patienten,
              Klienten und Kollegen, aber auch auf mein persönlicher Lebensweg immer wieder erleben,
              wie wichtig Offenheit, Neugier, Wertschätzung und ehrliches Interesse sind.
            </div>

          </div>
          <div class="imgContainer2">
            <img id="h-section-boxed-container" src="./assets/images/img.jpg"
                 style="width: 100%; box-shadow: 0px 0px 10px 2px rgb(133 173 110);">

          </div>
        </div>
      </div>
      <div id="text-elem" style="padding-right: 15px;">
        <div id="hhh" style="display: flex; margin-top: 15px; margin-bottom: 15px; height: 95%;">
          <div>
            <div class="imgContainer3">
              <img id="h-section-boxed-container" src="./assets/images/img1.jpg"
                   style="width: 100%; box-shadow: 0px 0px 10px 2px rgb(133 173 110);">

            </div>
          </div>
          <div id="ccc" style="display: block; margin-right: 50px; margin-left: 50px; margin-bottom: 16px;
        line-height: 1.6; color: rgb(70, 112, 127); padding-top: 15px; padding-bottom: 15px;">

            <div>Die Entscheidungssafari vereint all das – Wissen, Erfahrung und meine Freude daran,
              mich mit Menschen auf einen Weg zu begeben, der zu etwas Neuem führt.
            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="content3" id="content">
      <div style="display: flex; flex-wrap: wrap; display: -webkit-box;">
        <div id="cc" style="width: 100%; flex: 0 0 auto; height: auto; min-height: unset; display: block">
          <div style="display: flex">
            <div style="display: block; margin-right: 50px; margin-left: 50px; margin-bottom: 16px; line-height: 1.6;
                      color: rgb(70, 112, 127);">
              <div>Ich bin in Deutschland geboren und aufgewachsen, zwischenzeitlich hat es mich immer wieder für einige
                Zeit im Ausland gezogen (USA, Belgien, Uganda) und seit 2018 lebe ich mit meinem Mann in Südafrika.
                Ich sehe mich als menschliches Chamäleon, ich kann mich den unterschiedlichsten Umständen und
                Situationen anpassen.
                Und ich suche die Herausforderung des Neuen und Unbekannten.
                <br>
                In Südafrika habe ich meine Begeisterung für Safaris entdeckt – lass mich stundenlang in einem offenen
                Safari-Auto durch die Wildnis fahren und ich bin glücklich.
              </div>
              <div style="text-align: center; padding: 25px 10px 45px;">
              <span style="">
                <button class="btn-appointment" (click)="redirectToContact()">ERFAHRE MEHR</button>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="height: auto;
    margin-top: 30px;
    min-height: unset;
    background-image: none;padding-top: 90px;
    padding-bottom: 90px; background-color: rgba(133, 173, 110, 0.66); text-align: center; color: rgb(70, 112, 127);">
      <div>
        Ich weise ausdrücklich darauf hin, dass es sich weder um ein psychotherapeutisches oder medizinisches Angebot,
        noch um eine Rechtsberatung handelt. Mein Beratungsangebot beschränkt sich auf persönlichen Entscheidungen von
        Privatpersonen und ich bin in keinem Fall diagnostisch und/oder heilend tätig.
      </div>
    </div>
  </div>
</div>
