<div class="aboutme">
  <div class="imgContainer" style="background-image: url('./assets/images/headerpic.jpg');">
    <div>
      <h2 class="text-header-one">{{'ABOUT.ABOUT_ME' | translate}}</h2>
    </div>
  </div>
  <div class="outer-container">
    <div class="content">
      <div class="wrapper">
        <div class="wrapper-one">
          <div class="first-part">
            <div class="text">
              <div>
                <span class="span-first-word"> {{'ABOUT.VISION_HEADER' | translate}} </span>
                {{'ABOUT.VISION_TEXT_1' | translate}}
                <br>
                <br>
                {{'ABOUT.VISION_TEXT_2' | translate}}
              </div>
              <div class="button" id="button-one">
              <span>
                <button class="btn-appointment" (click)="redirectToContact()">{{'ABOUT.MORE' | translate}}</button>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-two">
      <div class="wrapper">
        <div class="cont-two-wrapper-one">
          <div class = "first-part">
            <div class="text">
              <div>
                <span class="text-span"> {{'ABOUT.WORK_HEADER' | translate}} </span>
                {{'ABOUT.WORK_TEXT_1' | translate}}
                <br>
                {{'ABOUT.WORK_TEXT_2' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-three">
      <div class="text-element-one" style="; padding-right: 15px;">
        <div class="cont-three-text">
          <div class="cont-three-text-wrapper">
            <div>
              <span class="span-text"> {{'ABOUT.ME_HEADER' | translate}} </span>
              {{'ABOUT.ME_TEXT_1' | translate}}
              <br>
              {{'ABOUT.ME_TEXT_2' | translate}}
              <br>
              {{'ABOUT.ME_TEXT_3' | translate}}
            </div>
          </div>
          <div class="img-container-two">
            <img class="image-cont-three" src="./assets/images/img.jpg">
          </div>
        </div>
      </div>
      <div class="text-element-two">
        <div class="cont-three-text-two">
          <div>
            <div class="img-container-three">
              <img class="image-two" id="h-section-boxed-container" src="./assets/images/img1.jpg" alt="">
            </div>
          </div>
          <div class="cont-three-secont-text">
            <div><span class="cont-three-span"> {{'ABOUT.SAFARI_HEADER' | translate}} </span>
              {{'ABOUT.SAFARI_TEXT' | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-four">
      <div class="wrapper-four">
        <div class="cont-four-text">
          <div class="cont-four">
            <div class="text-four">
              <div><span class="span-four"> {{'ABOUT.ME_HEADER' | translate}} </span>
                {{'ABOUT.ME_TEXT_4' | translate}}
                <br>
                {{'ABOUT.ME_TEXT_5' | translate}}
              </div>
              <div class="button-wrap-cont-four">
              <span>
                <button class="btn-appointment" (click)="redirectToContact()">{{'ABOUT.MORE' | translate}}</button>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-text">
        {{'ABOUT.FOOTER' | translate}}
      </div>
    </div>
  </div>
</div>
