<!--<div>
  <h2> {{'HOME.TITLE' | translate }} </h2>
    <p>
      {{'HOME.TEXT' | translate }}
    </p>
    <label>
      {{'HOME.SELECT' | translate }}
      <select #langSelect (change)="translateService.use(langSelect.value)">
        <option *ngFor="let lang of translateService.getLangs()" [value]="lang">
          {{lang}}
        </option>
      </select>
    </label>
</div>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img style="width: 12.5vw; min-width: 121px; cursor: pointer;" class="navbar-brand" [src]="'./assets/logo/logo2.png'"
          (click)="refresh()"/>
    <button class="navbar-toggler" type="button" (click)="isCollapsed =!isCollapsed"
            data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed"
         (click)="isCollapsed = !isCollapsed">
      <ul class="navbar-nav" style="width: 100%">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home" routerLinkActive="selected" aria-current="page" href="#">
            {{ 'HOME.HOME' | translate}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/aboutme" routerLinkActive="selected" aria-current="page" href="#">
            {{ 'ABOUT.ABOUT_ME' | translate}}</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/contact" routerLinkActive="selected" aria-current="page" href="#">
            {{ 'CONTACT.CONTACT' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
