<div class="container">
  <div style="padding: 30px">
    <div *ngIf="mailNotSent" class="alert alert-warning" role="alert" style="text-align: center">
      {{'CONTACT.ERROR' | translate}}
    </div>
    <div *ngIf="invalidCredentials" class="alert alert-secondary" role="alert" style="text-align: center">
      {{'CONTACT.TYPO' | translate}}
    </div>
    <div *ngIf="mailIsSent" class="alert alert-secondary" role="alert" style="text-align: center">
      {{'CONTACT.SENT' | translate}}
    </div>
    <h2 class="header1">
      {{'CONTACT.HEADER' | translate}}
    </h2>
    <h2 class="header2">
      {{'CONTACT.MESSAGE' | translate}}
    </h2>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="form" (ngSubmit)="sendMessage()" (keydown.enter)="sendMessage()">
          <div class="form-group" style="display: grid">
            <label> {{'CONTACT.MAIL' | translate}} </label>
            <label>
              <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                     placeholder="{{'CONTACT.ENTER_MAIL_ADDRESS' | translate}}"
                     formControlName="email" required>
            </label>
<!--            <small id="emailHelp" class="form-text text-muted">
              {{'CONTACT.HINT' | translate}}
            </small>-->
          </div>
          <div class="form-group" style="display: grid">
            <label>{{'CONTACT.NAME' | translate}}</label>
            <label>
              <input type="text" class="form-control" name="fullname"
                     placeholder="{{'CONTACT.FULL_NAME' | translate}}"
                     formControlName="fullname" required>
            </label>
          </div>
          <div class="form-group" style="display: grid">
            <label>{{'CONTACT.REQUEST' | translate}}</label>
            <label>
            <textarea class="form-control" formControlName="comment" name="comment">
            </textarea>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [value]="checked" id="flexCheckDefault" (click)="checkboxClicked()">
            <label class="form-check-label" for="flexCheckDefault" style="margin-left: 15px">
              Ich habe die <u style="cursor: pointer" (click)="openSecurityInfo()">
              Datenschutzvereinbarung</u> gelesen und durch die Nutzung dieses Kontaktformulars stimme ich der Nutzung und Speicherung meiner Angaben durch diese Webseite zu.
            </label>
          </div>

          <button *ngIf="!isLoading" [disabled]="!checked" type="submit" class="btn-submit"
                  [ngStyle]="{'background': !checked ? '#d6d6d6' : 'rgb(133, 173, 110)'}"
          >{{'CONTACT.SEND_BTN' | translate}}</button>
          <div *ngIf="isLoading" class="spinner-container">
            <mat-spinner></mat-spinner>
          </div>

          <div style="width: 100%; text-align: center;">
            <button class="btn-calendly" (click)="openCalendly()">{{'HOME.BUTTON_CALENDLY' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="footer">

  <div id="footer-div" style="display: flex; justify-content: center;text-align: start;">

    <div id="footer" style="margin-right: 200px; align-self: center;">
      <div style="line-height: 20px !important;">
        Svenja Bauer
      </div>
      <div style="line-height: 20px !important;">
        <a href= "mailto:info@entscheidungssafari.de">info@entscheidungssafari.de</a>
      </div>
    </div>

    <div style="margin-right: 200px;">

      <a target="_blank" href="http://www.bdp-verband.de/html/service/siegel.html">
        <img src="./assets/images/bdp_guetezeichen_193.png" width="100px" height="100px" alt="BDP- Gütezeichen"
             title="BDP-Gütezeichen" style="border-radius: 20px;">
      </a>
    </div>

    <div style="display: block; align-self: center;">

      <div (click)="openSecurityInfo()" style="cursor: pointer; line-height: 20px !important;">Datenschutz</div>
      <div (click)="openImpressum()" style="cursor: pointer; line-height: 20px !important;">Impressum</div>
    </div>


  </div>

  <mat-divider style="margin-top: 25px; margin-bottom: 25px"></mat-divider>
  <div class="footer-text">
    {{'ABOUT.FOOTER' | translate}}
  </div>
</div>
