<div class="container">
  <div style="padding: 30px">
    <div *ngIf="mailNotSent" class="alert alert-warning" role="alert" style="text-align: center">
      Fehler beim Senden, bitte kontaktiere mich über E-Mail-Adresse.
    </div>
    <div *ngIf="invalidCredentials" class="alert alert-secondary" role="alert" style="text-align: center">
      Bitte gib deine Adresse (korrekte Schreibweise) und deinen Namen an.
    </div>
    <div *ngIf="mailIsSent" class="alert alert-secondary" role="alert" style="text-align: center">
      Nachricht wurde gesendet.
    </div>
    <h2 class="header1">
      Beginne deine persönliche Safari...
    </h2>
    <h2 class="header2">
      Sende mir eine Nachricht und ich melde mich bei dir
    </h2>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="form" (ngSubmit)="sendMessage()" (keydown.enter)="sendMessage()">
          <div class="form-group" style="display: grid">
            <label>E-Mail</label>
            <label>
              <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                     placeholder="Gib hier deine E-Mail Adresse ein"
                     formControlName="email" required>
            </label>
            <small id="emailHelp" class="form-text text-muted">Ich gebe deine Adresse an niemanden weiter.</small>
          </div>
          <div class="form-group" style="display: grid">
            <label>Name</label>
            <label>
              <input type="text" class="form-control" name="fullname"
                     placeholder="Vor- und Nachname"
                     formControlName="fullname" required>
            </label>
          </div>
          <div class="form-group" style="display: grid">
            <label>Nachricht/ Anfrage</label>
            <label>
            <textarea class="form-control" formControlName="comment" name="comment">
            </textarea>
            </label>
          </div>
          <button *ngIf="!isLoading" type="submit" class="btn-submit">Senden</button>
          <div *ngIf="isLoading" class="spinner-container">
            <mat-spinner></mat-spinner>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
