.container{
  box-shadow: 0px 0px 10px 2px #85ad6e;
  margin-top: 2vw;
  .header1{

    text-align: center;
    font-size: 25px;

  }

  .header2{
    margin-bottom: 3vw;
    margin-top: 2vw;
    text-align: center;
    font-size: 18px;
  }

  .btn-submit{
    box-shadow: 0 0 10px 2px rgb(87 128 89);
    background-color: rgb(133, 173, 110);
    background-image: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1em;
    letter-spacing: 1px;
    color: white;
    border-top-width: 2px;
    border-top-color: #FFFFFF;
    border-top-style: solid;
    border-right-width: 2px;
    border-right-color: #FFFFFF;
    border-right-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-radius: 56px;
    border-left-width: 2px;
    border-left-color: #FFFFFF;
    border-left-style: solid;
    padding: 15px 30px;
    text-align: center;

    height: 47px;
    width: 100%;
    margin-top: 4vw;
    margin-bottom: 1vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
}
.footer{
  height: auto;
  margin-top: 30px;
  min-height: unset;
  background-image: none;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: rgba(133, 173, 110, 0.66);
  text-align: center; color: rgb(70, 112, 127);

  .footer-text{
    padding-left: 15px;
    padding-right: 15px
  }
}
