/* You can add global styles to this file, and also import other style files */
body{
  background-color: #d4e1cb !important;
  color: #364134 !important;
}

//NavBar//

.navbar.navbar-expand-lg.navbar-light.bg-light{
  background-color: white !important;
}
.nav-link{
  color: #688368 !important;
}

.nav-link.selected{
  color: #688368 !important;
  font-weight: bold !important;
}


// NavBar//

// Spinner //
.spinner-container {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-spinner {
    width: 60px !important;
    height: 60px !important;

    svg {
      width: 60px !important;
      height: 60px !important;

      circle {
        stroke: #364134 !important;
      }
    }
  }
}

// Spinner //
